* {
    margin: 0;
    padding: 0;
}

html, body{
    min-height: 100%;
    height: 100%;
}

body {
    font-family: Palatino, serif;
    background-color: rgb(20, 20, 20);
    display: grid;
    justify-content: center;
    align-content: center;
}

.container {
    width: 1200px; 
    height: 700px;
    display: flex;
    background-color: rgb(30, 30, 30);
    justify-content: center;
    align-items: center;
    gap: 180px;
}

.canvas {
    width: 52.5%;
    height: 90%;
    /* width: 50%;
    height: 80%; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.canvas:hover {
    cursor: cell;
}

.container > .control-panel {
    height: 85%;
    width: 19%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 15px;
}

.control-panel button {
    width: 80%;
    height: 7.5%;
    border: 1px;
    border-color: #fff;
    border-style: solid;
    background-color: transparent;
    color: #fff;
    font-size: 15px;
}

.control-panel button:hover {
    background-color: rgb(40, 40, 40);
    cursor: pointer;
    scale: 1.02;
}

.control-panel #slider-text {
    margin-top: auto;
    font-size: 18px;
    color: #fff;
}

.control-panel #slider {
    width: 80%;
    margin-top: 10px;
}

.slider-cls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    width: 100%;
}


#color-pick {
    width: 80%;
    height: 7.5%;
    border: 0px;
    background-color: transparent;
}

#color-pick:hover {
    background-color: rgb(40, 40, 40);
    cursor: pointer;
    scale: 1.02;
}

/*  range slider        */

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 30px;
      appearance: inherit;
      -webkit-appearance: none;
      background-color: #9a905d;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 9px;
      appearance: inherit;
      -webkit-appearance: none;
      margin-top: -2px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 25px;
      appearance: inherit;
      -webkit-appearance: none;
      height: 9px;
      cursor: grab;
      background: #434343;
    }

}